* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --color-white: #FFF;
    --color-blue: #3483FA;
    --color-gray: #EDEDED;
    --color-light-gray: #F5F5F5;
    --color-dark-gray: #888;
    --color-borders: #DDD;
}
.fw-4{font-weight: 400 !important;}
.fw-5{font-weight: 500 !important;}
.fw-6{font-weight: 600 !important;}
.fw-7{font-weight: 700 !important;}
.fw-8{font-weight: 800 !important;}

.fz-7{font-size: .7rem !important;}
.fz-8{font-size: .8rem !important;}
.fz-9{font-size: .9rem !important;}
.fz-10{font-size: 1rem !important;}
.fz-11{font-size: 1.1rem !important;}
.fz-12{font-size: 1.2rem !important;}

.modal-content{ background-color: var(--color-light-gray) !important; }

.no-shadow{box-shadow: none !important;}